img {
width: 450px;
padding-left: 13%;
border: 2px solid black;
}

.facebook {
font-family: "Roboto", sans-serif;
padding-left: 13%;
width: 25px;
}

.twitter {
font-family: "Roboto", sans-serif;
padding-left: 13%;
width: 25px;
}

.instagram {
font-family: "Roboto", sans-serif;
padding-left: 13%;
width: 25px;
}

.redesSociales {
padding: 2% 0% 2% 13%;
font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 30px;
}

footer {
background-color: #DDDDDD;
}